{% extends 'boot.html' %}
{% block title %}
    Single Man Task Manager
{% endblock %}
{% block page %}
<div class="tasks">
    <div class="task-create-link">
        <a href="{% if user.is_authenticated  %}{% url 'task-create' %}{% else %}{% url 'log_in' %}{% endif %}">
            <p class="">Create task</p>
        </a>
    </div>
    {% for task in tasks %}
    <div class="task-link">
        <a href="{% url 'task-detail' task.id %}">
            <p class="task-name ">{{ task }}</p>
            <p class="task-done">{% if task.done %}Done{% else %}In progress{% endif %}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}