{% extends 'base.html' %}
{% block title %}
    Update Task
{% endblock %}
{% block page %}
<div class="main-content">
    <div class="task-form">
        <form method="post" class="task-create">
            {% csrf_token %}
            {% for elem in form %}
               <div class="{{ elem.id_for_label }}">
                   {{ elem.label_tag }} {{ elem }}
               </div>
            {% endfor %}
            <p><input type="submit" name="update" class="button" value="Add task"></p>
        </form>
    </div>
</div>
{#<form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" name="update" value="Submit">#}
{#</form>#}
{% endblock %}