* {
 margin: 0;
 padding: 0;
}
.copy {
 color:#F1E7E8;
 color:#DCC0B5;
 color:#C6A680;
 color:#7D9EA7;
 color:#72A56C;
}
.navbar{
 background-color: #72A56C;
 display: flex;
 justify-content: space-around;
}

.nav-link , .navbar-home{
 color: #F1E7E8;
 cursor: pointer;
 text-decoration: none;
}

.navbar-home:hover{
 color: #F1E7E8;
}

.navbar-links{
 /*width: 50vh;*/
 display: flex;
 justify-content: flex-end;
}

.nav-link{
 margin-right: 1em !important;
}

.nav-link:hover{
 background: #f4f4f4;
 color: #C6A680;
}

body{
 background: #F1E7E8;
}

.no-task-message{
 text-align: center;
}

.tasks{
 margin: 10%;
}

.task-link, .task-create-link{
 background: #C5C5DB;
 height: 5vh;
 border-radius: 25px;
 margin: 2% 0;
}

nav a, .tasks a{
 color: black;
 text-decoration: none ;
 display: flex;
 justify-content: center;
}

nav a:hover{
 color: #7D9EA7;
}

.task-create-link{
 background: #7D9EA7;
}
.task-link .task-name{
 width: 50%;
}
.task-link .task-done{
 width: 20%;
}
.task-link a:hover, .task-create-link a:hover{
 height: 5vh;
 background: #E0F9EE;
 border-radius: 25px;
}

.auth-container{
 margin: 10% auto;
 width: 50vh;
}

.create-container{
 margin: 6% auto;
 width: 50vh;
}

.auth-container h2, .create-container h2{
 text-align: center;
}

.button{
 padding: 0 5%;
 color: #f4f4f4;
 border: 4px solid #72A56C;
 border-radius: 5px;
 background: #72A56C;
}

.little-button, .little-button-delete{
 padding: 0 2%;
 color: #f4f4f4;
 border: 1px solid #72A56C;
 border-radius: 25px;
 background: #72A56C;
}

.little-button-delete{
 border: 1px solid red;
 background: red;
}

.button:hover{
 border: 4px solid #608C5B;
 background: #608C5B;
}
.log-form p{
 margin-top: 3%;
}

.detail{
 margin: 5% 15%;
 background: #F1E7E8;
 height: 100vh;
}

.detail-name{
 border: 3px solid #72A56C;
 border-radius: 25px;
 display: flex;
 padding-left: 2%;
 align-items: baseline;
 background: linear-gradient(to right, #72A56C 10%, transparent 10%);
}

.detail-name-title{
 width: 90%;
 display: flex;
 justify-content: space-between;
 align-items: baseline;
}

.detail-name h4{
 color: #F1E7E8;
 width: 8%;
 text-align: center;
 /*background: red;*/
}

.detail-name h2{
 margin: 0 3%;
}

.detail-content{
 margin: 1% 5%;
}

.detail-content-time{
 display: flex;
 justify-content: space-between;
}

.detail-content-head-task{
 text-align: end;
}

.detail-content-description{
 padding: 1% 4%;
 background: #f4f4f4;
 border-radius: 25px;
}

.detail-content p a{
 background: #72A56C;
 border-radius: 25px;
 padding: 0.5%;
 color: #F1E7E8;
 cursor: pointer;
 text-decoration: none;
}

.simple-tasks{
 margin: 5% 15%;
}

.simple-task-form, .simple-task-form-done{
 border-radius: 25px;
 display: flex;
 justify-content: space-between;
}

.simple-task-buttons p{
 width: 80%;
}

.simple-task-buttons{
 height: 1%;
 display: flex;
 width: 20%;
 justify-content: space-between;
}

.detail-create-simple-task{
 margin-top: 2%;
}

.detail-content-update-save{
 display: flex;
 justify-content: space-between;
}
.detail-content-update-save p{
 width: 15%;
}

.detail-content-update-save p a{
 padding: 1% 5%;
 color: #f4f4f4;
 border: 4px solid #72A56C;
 border-radius: 5px;
 background: #72A56C;
 cursor: pointer;
 text-decoration: none;
 align-items: end;
}