*{
    margin: 0;
    padding: 0;
}

body{
    background: darkseagreen;
}

a{
    text-align: center;
}

.task{
    background: yellow;
}

.task-form{
    background: aqua;
    text-align: center;
}

.task-done{
    background: grey;
}