{% extends 'base.html' %}
{% block page %}
<div>
    <div>
        {% for task in tasks %}
            <a href={% url 'task-detail' task.id %}><div class="task">
            {{ task.title }}
        </div></a>
        {% endfor %}
    </div>
    <div>
        {% for task in done_tasks %}
            <a href={% url 'task-detail' task.id %}><div class="task-done">
            {{ task.title }}
        </div></a>
        {% endfor %}
    </div>
</div>
<div class="task-form">
    <a href={% url 'task-create' %}>Добавить задание</a>
</div>
{% endblock %}