{% extends 'base.html' %}
{% block page %}
<div class="main-content">
        <a href={% url 'task-create' %} class="task-create-link">
            Добавить задание
        </a>
    {% for task in tasks %}
        <a href="{% url 'task-detail' task.id %}" class="main-content-detail">
            <div>{{ task.title }}</div>
             <form method="post">
                {% csrf_token %}
                {% if task.done %}
                    <input type="submit" class="button" name="{{ task.id }}" value="Set in progress">
                    {% else %}
                    <input type="submit" class="button" name="{{ task.id }}" value="Done">
                {% endif %}
            </form>
        </a>
    {% endfor %}
</div>
{% endblock %}