{% extends 'base.html' %}
{% block page %}
<div class="main-content">
    <div class="detail-page">
        <p class="title"><p>{{ task }}</p> <p>{% if task.done %} Done {% else %} in progress {% endif %}</p></p>
        <div class="description">{{ task.description|linebreaks }}</div>
        <p class="head-task">{% if task.head_task %} Main task: <a href="{% url 'task-detail' task.head_task.id %}">{{ task.head_task }}</a>{% endif %}</p>
        <p class="created-at">{{ task.created_at }}</p>
        <p class="deadline">{% if task.deadline %} Deadline: {{ task.deadline }} {% endif %}</p>
        <form method="post">
            {% csrf_token %}
            {% if task.done %}
                <input type="submit" class="button" name="done" value="Set in progress">
                {% else %}
                <input type="submit" class="button" name="done" value="Done">
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}


